
{% extends 'partials/base.html' %}
{% load static%}
{% block content %}
      <style>
.product__details__tab__desc {
    display: flex;
    flex-direction: column;
}

.review-content {
    display: flex;
    align-items: center;
}

.user-img {
    width: 50px;  /* Adjust the width as needed */
    height: 50px;  /* Adjust the height as needed */
    border-radius: 50%;  /* This makes the image a circle */
    object-fit: cover;  /* This ensures the image covers the circle without distortion */
    margin-right: 10px;  /* Adjust spacing between image and text */
}

.review-text {
    flex: 1;
}

.average-rating-reviews {
    margin-left: 20px;  /* Adjust spacing between text and rating */
    white-space: nowrap;  /* Prevent text from wrapping */
}
</style>


    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{p.image.url}}" alt="">
                        </div>

                        <div class="product__details__pic__slider owl-carousel">
                        {%for pi in p_img%}
                            <img data-imgbigurl="{img/product/details/product-details-2.jpg}"
                                src="{{pi.images.url}}" alt="">
                        {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{p.title}}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <span>(18 reviews)</span>
                        </div>
                        <div class="product__details__price">${{p.price}} <p><del>{{p.old_price}}</del></p></div>
                        <p>{{p.description|truncatechars:100}}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">ADD TO CARD</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Availability</b> <span>In Stock</span></li>
                            <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                            <li><b>Type</b> <span>{{p.type}}</span></li>
                            <li><b>MFD</b> <span>{{p.mfd|date:"d M Y"}}</span></li>
                            <li><b>Life</b> <span>{{p.life}}</span></li>
                            <li><b>SKU</b> <span>{{p.sku}}</span></li>
                            <li><b>Stock</b> <span>{{p.stock_count}}</span></li>
                            <li><b>Tags</b>{%for tag in p.tags.all%}<a href="{% url 'core:tags' tag.slug %}" rel="tag">#{{tag.name}},</a>{%endfor%}</li> 

                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Reviews <span>({{reviews.count}})</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                        <p>{{p.description|safe}}.</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                        Proin eget tortor risus.</p>
                                    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                        ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                        elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                        porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                        nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="comment-list">
                                {% for r in reviews %}
                                    <div class="product__details__tab__desc">
                                        <div class="review-content">
                                            <img src="https://t4.ftcdn.net/jpg/00/64/67/27/360_F_64672736_U5kpdGs9keUll8CRQ3p3YaEv2M6qkVY5.jpg" alt="" class="user-img"/>
                                            <div>
                                            {%for s in review.rating %}
                                             <i class="fas fa-star text-warning"></i>
                                            {%endfor%}
                                            </div>
                                            <div class="review-text">
                                                <span class="font-xs text-muted">{{ r.date|date:"d M Y - h:m:s" }}</span>
                                                <h6>{{ r.user.username|title }}</h6>
                                                <p>{{ r.review }}.</p>
                                            </div>
                                            <div class="average-rating-reviews">
                                                <span>Average rating: {{average_rating.rating|floatformat}} out of 5</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            </div>
                        </div> 
                        <form class="commentform hide-comment-form" id="commentForm" action="{% url 'core:ajax_add_review' p.id %}" method="POST">
                        {% csrf_token %}
                        {%if request.user.is_authenticated%}
                        {%if make_review %}
                        
                            <div class="review_form">
                                <h3>Add Review</h3>
                                <strong class="text-success" id="review-rsp">Review Add</strong><br>
                                {{ review_form.review }}
                            </div>
                            <div class="rating_form">
                                {{ review_form.rating }}
                            </div>
                            <br>
                            <br>
                            <button class="submit" type="submit" width="70" height="30">Submit Review</button> 
                        {%endif%}
                        {%endif%}
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
            {%if products%}
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            {%endif%}
            </div>
            <div class="row">
            {%for p in products%}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{p.image.url}}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{% url 'core:product-detail' p.pid%}">{{p.title}}</a></h6>
                            <p><del>{{p.old_price}}</del></p>
                            <h5>{{p.price}}</h5>
                        </div>
                    </div>
                </div>
            {%endfor%}
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

   {%endblock content%}